<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8261716338-4ojpers20l9flv01m1a5do1hmkb3bak4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8261716338-4ojpers20l9flv01m1a5do1hmkb3bak4</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMfXFfWZSUFlwgyqH9emq0yjxcLb5O74</string>
	<key>GCM_SENDER_ID</key>
	<string>8261716338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jocoos.FlipFlop-Sample</string>
	<key>PROJECT_ID</key>
	<string>ff-lite-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>ff-lite-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8261716338:ios:1d7404f69406b96dcef5eb</string>
</dict>
</plist>